# Identification

Student names and matriculation numbers

*Add here*

We declare that the code and analyses contained in this notebook were produced by ourselves and therefore were not copied from elsewhere.

---
# Notes
---
When a code cell has the text `Your code here`, feel free to split it into more cells (code and/or markdown), if it is more convenient for you.

---
# Preprocessing
---

**TO-DO P1**

In [1]:
# Library imports

# Your code here

In [2]:
# Data imports
# Data manipulation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data visualization
import seaborn as sns
import plotly.graph_objs as go
from plotly.subplots import make_subplots

sns.set_style(style='darkgrid')

df = pd.read_csv('covid-data.csv')

**TO-DO P2**

In [5]:
# Understanding the data

# FILL MARKDOWN CELL BELOW

In [22]:
print(df.info())
print(df.loc[df["location"] == "Europe"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220336 entries, 0 to 220335
Data columns (total 32 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Unnamed: 0                             220336 non-null  int64
 1   continent                              207663 non-null  object
 2   location                               220336 non-null  object
 3   date                                   220336 non-null  object
 4   new_cases                              211112 non-null  float64
 5   new_deaths                             192215 non-null  float64
 6   reproduction_rate                      166135 non-null  float64
 7   icu_patients                           28050 non-null   float64
 8   hosp_patients                          30819 non-null   float64
 9   weekly_icu_admissions                  7125 non-null    float64
 10  weekly_hosp_admissions_per_million     14188 non-null   float64
 11  new_tests                              75403 non-null   float64
 12  positive_rate                          95927 non-null   float64
 13  total_vaccinations                     61724 non-null   float64
 14  people_vaccinated_at_least_1_dose      59019 non-null   float64
 15  people_fully_vaccinated                56261 non-null   float64
 16  total_boosters                         32936 non-null   float64
 17  new_vaccinations                       50758 non-null   float64
 18  government_response_index              166168 non-null  float64
 19  population                             219052 non-null  float64
 20  population_density                     195670 non-null  float64
 21  median_age                             181063 non-null  float64
 22  aged_65_older                          179150 non-null  float64
 23  aged_70_older                          180115 non-null  float64
 24  gdp_per_capita                         180403 non-null  float64
 25  extreme_poverty_prc                    117660 non-null  float64
 26  cardiovasc_death_per_hundred_thousand  180584 non-null  float64
 27  diabetes_pop_rate_aged_20_to_79        189833 non-null  float64
 28  female_smokers_prc                     136795 non-null  float64
 29  female_smokers_prc.1                   134922 non-null  float64
 30  hospital_beds_per_thousand             160657 non-null  float64
 31  life_expectancy                        205861 non-null  float64
dtypes: float64(28), int64(1), object(3)
memory usage: 53.8+ MB
None
       Unnamed: 0 continent location        date  new_cases  new_deaths  \
63533       63533       NaN   Europe  2020-01-23        0.0         0.0
63534       63534       NaN   Europe  2020-01-24        2.0         0.0
63535       63535       NaN   Europe  2020-01-25        1.0         0.0
63536       63536       NaN   Europe  2020-01-26        0.0         0.0
63537       63537       NaN   Europe  2020-01-27        1.0         0.0
...           ...       ...      ...         ...        ...         ...
64510       64510       NaN   Europe  2022-09-26   251859.0       426.0
64511       64511       NaN   Europe  2022-09-27   372887.0       701.0
64512       64512       NaN   Europe  2022-09-28   260367.0       473.0
64513       64513       NaN   Europe  2022-09-29   382340.0      1058.0
64514       64514       NaN   Europe  2022-09-30   252169.0       494.0

       reproduction_rate  icu_patients  hosp_patients  weekly_icu_admissions  \
63533                NaN           NaN            NaN                    NaN
63534                NaN           NaN            NaN                    NaN
63535                NaN           NaN            NaN                    NaN
63536                NaN           NaN            NaN                    NaN
63537                NaN           NaN            NaN                    NaN
...                  ...           ...            ...                    ...
64510                NaN           NaN            NaN                    NaN
64511                NaN           NaN            NaN                    NaN
64512                NaN           NaN            NaN                    NaN
64513                NaN           NaN            NaN                    NaN
64514                NaN           NaN            NaN                    NaN

       ...  aged_65_older  aged_70_older  gdp_per_capita  extreme_poverty_prc  \
63533  ...            NaN            NaN             NaN                  NaN
63534  ...            NaN            NaN             NaN                  NaN
63535  ...            NaN            NaN             NaN                  NaN
63536  ...            NaN            NaN             NaN                  NaN
63537  ...            NaN            NaN             NaN                  NaN
...    ...            ...            ...             ...                  ...
64510  ...            NaN            NaN             NaN                  NaN
64511  ...            NaN            NaN             NaN                  NaN
64512  ...            NaN            NaN             NaN                  NaN
64513  ...            NaN            NaN             NaN                  NaN
64514  ...            NaN            NaN             NaN                  NaN

       cardiovasc_death_per_hundred_thousand  diabetes_pop_rate_aged_20_to_79  \
63533                                    NaN                              NaN
63534                                    NaN                              NaN
63535                                    NaN                              NaN
63536                                    NaN                              NaN
63537                                    NaN                              NaN
...                                      ...                              ...
64510                                    NaN                              NaN
64511                                    NaN                              NaN
64512                                    NaN                              NaN
64513                                    NaN                              NaN
64514                                    NaN                              NaN

       female_smokers_prc  female_smokers_prc.1  hospital_beds_per_thousand  \
63533                 NaN                   NaN                         NaN
63534                 NaN                   NaN                         NaN
63535                 NaN                   NaN                         NaN
63536                 NaN                   NaN                         NaN
63537                 NaN                   NaN                         NaN
...                   ...                   ...                         ...
64510                 NaN                   NaN                         NaN
64511                 NaN                   NaN                         NaN
64512                 NaN                   NaN                         NaN
64513                 NaN                   NaN                         NaN
64514                 NaN                   NaN                         NaN

       life_expectancy
63533              NaN
63534              NaN
63535              NaN
63536              NaN
63537              NaN
...                ...
64510              NaN
64511              NaN
64512              NaN
64513              NaN
64514              NaN

[982 rows x 32 columns]

* * * * * * * * * * * * * * * * * *
Your analysis documentation here
* * * * * * * * * * * * * * * * * *

**TO-DO P3**

In [24]:
# Ensure the date column is datetime


# Your code here

df["date"] = pd.to_datetime(df["date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220336 entries, 0 to 220335
Data columns (total 32 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Unnamed: 0                             220336 non-null  int64
 1   continent                              207663 non-null  object
 2   location                               220336 non-null  object
 3   date                                   220336 non-null  datetime64[ns]
 4   new_cases                              211112 non-null  float64
 5   new_deaths                             192215 non-null  float64
 6   reproduction_rate                      166135 non-null  float64
 7   icu_patients                           28050 non-null   float64
 8   hosp_patients                          30819 non-null   float64
 9   weekly_icu_admissions                  7125 non-null    float64
 10  weekly_hosp_admissions_per_million     14188 non-null   float64
 11  new_tests                              75403 non-null   float64
 12  positive_rate                          95927 non-null   float64
 13  total_vaccinations                     61724 non-null   float64
 14  people_vaccinated_at_least_1_dose      59019 non-null   float64
 15  people_fully_vaccinated                56261 non-null   float64
 16  total_boosters                         32936 non-null   float64
 17  new_vaccinations                       50758 non-null   float64
 18  government_response_index              166168 non-null  float64
 19  population                             219052 non-null  float64
 20  population_density                     195670 non-null  float64
 21  median_age                             181063 non-null  float64
 22  aged_65_older                          179150 non-null  float64
 23  aged_70_older                          180115 non-null  float64
 24  gdp_per_capita                         180403 non-null  float64
 25  extreme_poverty_prc                    117660 non-null  float64
 26  cardiovasc_death_per_hundred_thousand  180584 non-null  float64
 27  diabetes_pop_rate_aged_20_to_79        189833 non-null  float64
 28  female_smokers_prc                     136795 non-null  float64
 29  female_smokers_prc.1                   134922 non-null  float64
 30  hospital_beds_per_thousand             160657 non-null  float64
 31  life_expectancy                        205861 non-null  float64
dtypes: datetime64[ns](1), float64(28), int64(1), object(2)
memory usage: 53.8+ MB

---
# Analysis
---

**TO-DO A1**

Document what is happening in the `location` column
  
Your analysis here

R:Existem registos em que a location é um continente ex:"Europe" e Continente Nan. Portanto não são da mesma categoria

**TO-DO A2**

Your answer here  

R: Como existem registos em que o Continente é Nan, ao fazermos um estudo a nivel de um país esses registos não nos são uteis.
 Outro problema ao fazermos um histograma utilizando a coluna location inicialmente estaremos à espera de termos nesse field
 apenas paises mas no entanto vão aparecer continentes. Se quisermos fazer um estudo global não somos capazes de averiguar se
 um registo que tenha a location e continent corretas, não tenha "contribuido" para esses registos que têm um continente
 no field da location. Tambem não é possivel fazer a distinção entre região economica Europeia e o Continente Europa com estes
 registos.

**TO-DO A3**

In [5]:
# create dfx dataframe with data for Austria, France, Spain and Portugal only

# Your code here

df_austria = df.loc[df["location"] == "Austria"]
df_france = df.loc[df["location"] == "France"]
df_spain = df.loc[df["location"] == "Spain"]
df_portugal = df.loc[df["location"] == "Portugal"]

**TO-DO A4**

In [3]:
# create function to produce and export histogram and boxplot.

# follow the instructions provided in the handout
# remember you will revise/expand this function later

# Your code here

def get_basic_plots(country, var, opt):
    df_y = df.loc[df["location"] == country]
    df_y.hist(column=var, bins=20)
    plt.savefig(f"{country}-{var}-histogram.png")
    plt.close()
    
    df_y = df.loc[df["location"] == country]
    df_y.boxplot(column=var)
    plt.savefig(f"{country}-{var}-boxplot.png")
    plt.close()
    
    
get_basic_plots("Portugal", "new_cases", 0)

**TO-DO A5**

In [74]:
# create function to remove outliers using the 1.5*IQR method 

# Your code here

def remove_outliers(col):
    copy_df = df.copy()
    q1 = np.percentile(copy_df[col], 0.25)
    q3 = np.percentile(copy_df[col], 0.75)
    
    
remove_outliers(2)

**TO-DO A6**

In [8]:
# edit function created in A4 so that the argument opt is used to remove outliers (or not)
# following instructions in the handout. Edit your code in the TO-DO A4 cell

**TO-DO A7**

Your analysis here

**TO-DO A8**

In [9]:
# adding extra columns to the dataframe with normalised data for new_cases and new_deaths

# Your code here

Your analysis here